/*!
 * Fresh: Starter
 * This files compiles to 'dev/assets/css/main.css'
 * from 'dev/sass/main.scss'
*/

body {
	background-color: #F2F2F0;
	color: #1B3C59;
}

.wrapper {
	background-color: #11BFAE;
}

h1 {
	color: #456173;
}
